<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>id</key>
            <integer>0</integer>
            <key>name</key>
            <string>Ukulele</string>
            <key>image</key>
            <string>ukuleleSymbol</string>
            <key>doubleStrings</key>
            <false/>
            <key>tunings</key>
            <array>
                <!-- 4 strings -->
                <dict>
                    <key>tuningName</key>
                    <string>Soprano (Standard)</string>
                    <key>standard</key>
                    <true/>
                    <key>notes</key>
                    <array>
                        <string>G4</string>
                        <string>C4</string>
                        <string>E4</string>
                        <string>A4</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Sopranino 1</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>D5</string>
                        <string>G4</string>
                        <string>B4</string>
                        <string>E5</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Sopranino 2</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>C5</string>
                        <string>F4</string>
                        <string>A4</string>
                        <string>D5</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Soprano 1</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>A4</string>
                        <string>D4</string>
                        <string>F♯4</string>
                        <string>B4</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Soprano 2</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>G4</string>
                        <string>C4</string>
                        <string>E4</string>
                        <string>A4</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Concert 1</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>A4</string>
                        <string>D4</string>
                        <string>F♯4</string>
                        <string>B4</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Concert 2</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>G4</string>
                        <string>C4</string>
                        <string>E4</string>
                        <string>A4</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Tenor 1</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>A4</string>
                        <string>D4</string>
                        <string>F♯4</string>
                        <string>B4</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Tenor 2</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>G4</string>
                        <string>C4</string>
                        <string>E4</string>
                        <string>A4</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Tenor 3</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>G3</string>
                        <string>C4</string>
                        <string>E4</string>
                        <string>A4</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Tenor 4</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>D4</string>
                        <string>G3</string>
                        <string>B3</string>
                        <string>E4</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Barritone</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>D3</string>
                        <string>G3</string>
                        <string>B3</string>
                        <string>E4</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>Bass</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>E1</string>
                        <string>A1</string>
                        <string>D2</string>
                        <string>G2</string>
                    </array>
                </dict>
                <!-- 5 strings -->
                <dict>
                    <key>tuningName</key>
                    <string>Tenor</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>G4</string>
                        <string>G3</string>
                        <string>C4</string>
                        <string>E4</string>
                        <string>A4</string>
                    </array>
                </dict>
                <dict>
                    <key>tuningName</key>
                    <string>gG-C-E-A</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>G5</string>
                        <string>G4</string>
                        <string>C4</string>
                        <string>E4</string>
                        <string>A4</string>
                    </array>
                </dict>
                <!-- 6 strings -->
                <dict>
                    <key>tuningName</key>
                    <string>g-cC-E-Aa</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>G5</string>
                        <string>C5</string>
                        <string>C4</string>
                        <string>E4</string>
                        <string>A4</string>
                        <string>A5</string>
                    </array>
                </dict>
                <!-- 8 strings -->
                <dict>
                    <key>tuningName</key>
                    <string>gG-cC-EE-AA</string>
                    <key>standard</key>
                    <false/>
                    <key>notes</key>
                    <array>
                        <string>G5</string>
                        <string>G4</string>
                        <string>C5</string>
                        <string>C4</string>
                        <string>E4</string>
                        <string>E4</string>
                        <string>A4</string>
                        <string>A4</string>
                    </array>
                </dict>
            </array>
        </dict>
    </array>
</plist>
