<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Guitar</string>
		<key>image</key>
		<string>guitarSymbol</string>
        <key>doubleStrings</key>
        <false/>
		<key>tunings</key>
		<array>
			<dict>
				<key>tuningName</key>
				<string>Classical / Acoustic</string>
				<key>standard</key>
				<true/>
				<key>notes</key>
				<array>
					<string>E2</string>
					<string>A2</string>
					<string>D3</string>
					<string>G3</string>
					<string>B3</string>
					<string>E4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Drop B</string>
				<key>standard</key>
				<false/>
				<key>notes</key>
				<array>
					<string>B1</string>
					<string>F♯2</string>
					<string>B2</string>
					<string>E3</string>
					<string>G♯3</string>
					<string>C♯4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Drop D</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>D2</string>
					<string>A2</string>
					<string>D3</string>
					<string>G3</string>
					<string>B3</string>
					<string>E4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Drop C</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>C2</string>
					<string>G2</string>
					<string>C3</string>
					<string>F3</string>
					<string>A3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Open D</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>D2</string>
					<string>A2</string>
					<string>D3</string>
					<string>F♯3</string>
					<string>A3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Open G</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>D2</string>
					<string>G2</string>
					<string>D3</string>
					<string>G3</string>
					<string>B3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Open C</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>C2</string>
					<string>G2</string>
					<string>C3</string>
					<string>G3</string>
					<string>C4</string>
					<string>E4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Half Step Down</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>D♯2</string>
					<string>G♯2</string>
					<string>C♯3</string>
					<string>F♯3</string>
					<string>A♯3</string>
					<string>D♯4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Full Step Down</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>D2</string>
					<string>G2</string>
					<string>C3</string>
					<string>F3</string>
					<string>A3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>1 and 1/3 Steps Down</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>C♯2</string>
					<string>F♯2</string>
					<string>B2</string>
					<string>E3</string>
					<string>G♯3</string>
					<string>C♯4</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Banjo</string>
		<key>image</key>
		<string>banjoSymbol</string>
        <key>doubleStrings</key>
        <false/>
		<key>tunings</key>
		<array>
            <!-- 4 strings -->
			<dict>
				<key>tuningName</key>
				<string>Chicago</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>D3</string>
					<string>G3</string>
					<string>B3</string>
					<string>E4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>C 4 strings</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>C3</string>
					<string>G3</string>
					<string>B3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Irish Tenor</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>G2</string>
					<string>D3</string>
					<string>A3</string>
					<string>E4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Open G</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>D3</string>
					<string>G3</string>
					<string>B3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Tenor</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>C3</string>
					<string>G3</string>
					<string>D4</string>
					<string>A4</string>
				</array>
			</dict>
            <!-- 5 strings -->
			<dict>
				<key>tuningName</key>
				<string>Standard</string>
                <key>standard</key>
                <true/>
				<key>notes</key>
				<array>
					<string>G4</string>
					<string>D3</string>
					<string>G3</string>
					<string>B3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>C</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>G4</string>
					<string>C3</string>
					<string>G3</string>
					<string>B3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Double C</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>G4</string>
					<string>C3</string>
					<string>G3</string>
					<string>C4</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Oldtime D</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>A4</string>
					<string>D3</string>
					<string>A3</string>
					<string>D4</string>
					<string>E4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Open A</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>A4</string>
					<string>E3</string>
					<string>A3</string>
					<string>C♯4</string>
					<string>E4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Open D</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>F♯4</string>
					<string>D3</string>
					<string>F♯3</string>
					<string>A3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Sawmill</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>G4</string>
					<string>D3</string>
					<string>G3</string>
					<string>C4</string>
					<string>D4</string>
				</array>
			</dict>
            <!-- 6 strings -->
			<dict>
				<key>tuningName</key>
				<string>Open G</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>G4</string>
					<string>G2</string>
					<string>D3</string>
					<string>G3</string>
					<string>B3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Banjo Guitar</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>E2</string>
					<string>A2</string>
					<string>D3</string>
					<string>G3</string>
					<string>B3</string>
					<string>E4</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Ukulele</string>
		<key>image</key>
		<string>ukuleleSymbol</string>
        <key>doubleStrings</key>
        <false/>
		<key>tunings</key>
		<array>
			<dict>
				<key>tuningName</key>
				<string>Soprano (Standard)</string>
                <key>standard</key>
                <true/>
				<key>notes</key>
				<array>
					<string>G4</string>
					<string>C4</string>
					<string>E4</string>
					<string>A4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Sopranino 1</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>D5</string>
					<string>G4</string>
					<string>B4</string>
					<string>E5</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Sopranino 2</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>C5</string>
					<string>F4</string>
					<string>A4</string>
					<string>D5</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Soprano 1</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>A4</string>
					<string>D4</string>
					<string>F♯4</string>
					<string>B4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Soprano 2</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>G4</string>
					<string>C4</string>
					<string>E4</string>
					<string>A4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Concert 1</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>A4</string>
					<string>D4</string>
					<string>F♯4</string>
					<string>B4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Concert 2</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>G4</string>
					<string>C4</string>
					<string>E4</string>
					<string>A4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Tenor 1</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>A4</string>
					<string>D4</string>
					<string>F♯4</string>
					<string>B4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Tenor 2</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>G4</string>
					<string>C4</string>
					<string>E4</string>
					<string>A4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Tenor 3</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>G3</string>
					<string>C4</string>
					<string>E4</string>
					<string>A4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Tenor 4</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>D4</string>
					<string>G3</string>
					<string>B3</string>
					<string>E4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Barritone</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>D3</string>
					<string>G3</string>
					<string>B3</string>
					<string>E4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Bass</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>E1</string>
					<string>A1</string>
					<string>D2</string>
					<string>G2</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>Violin</string>
		<key>image</key>
		<string>violinSymbol</string>
        <key>doubleStrings</key>
        <false/>
		<key>tunings</key>
		<array>
			<dict>
				<key>tuningName</key>
				<string>Standard</string>
                <key>standard</key>
                <true/>
				<key>notes</key>
				<array>
					<string>G3</string>
					<string>D4</string>
					<string>A4</string>
					<string>E5</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>Mandolin</string>
		<key>image</key>
		<string>mandolinSymbol</string>
        <key>doubleStrings</key>
        <true/>
		<key>tunings</key>
		<array>
            <!-- http://www.tabwritebymusicatt.com/tunings_mandolin.html -->
			<dict>
				<key>tuningName</key>
				<string>Standard</string>
                <key>standard</key>
                <true/>
				<key>notes</key>
				<array>
					<string>G3</string>
					<string>D4</string>
					<string>A4</string>
					<string>E5</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>Balalaika</string>
		<key>image</key>
		<string>balalaikaSymbol</string>
        <key>doubleStrings</key>
        <false/>
		<key>tunings</key>
		<array>
			<dict>
				<key>tuningName</key>
				<string>Prima</string>
                <key>standard</key>
                <true/>
				<key>notes</key>
				<array>
					<string>E4</string>
					<string>E4</string>
					<string>A4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Descant</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>E5</string>
					<string>E5</string>
					<string>A5</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Piccolo</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>B4</string>
					<string>E5</string>
					<string>A5</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Guitar Style</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>G3</string>
					<string>B3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Secunda</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>A3</string>
					<string>A3</string>
					<string>D4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Alto</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>E3</string>
					<string>E3</string>
					<string>A3</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Tenor</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>E3</string>
					<string>E3</string>
					<string>E4</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Bass</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>E2</string>
					<string>A2</string>
					<string>D3</string>
				</array>
			</dict>
			<dict>
				<key>tuningName</key>
				<string>Contrabass</string>
                <key>standard</key>
                <false/>
				<key>notes</key>
				<array>
					<string>E1</string>
					<string>A1</string>
					<string>D2</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
