<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Guitar</string>
		<key>image</key>
		<string>guitarSymbol</string>
        <key>tunings</key>
        <array>
            <dict>
                <key>tuningName</key>
                <string>Classical / Acoustic</string>
                <key>notes</key>
                <array>
                    <string>E2</string>
                    <string>A2</string>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>E4</string>
                </array>
            </dict>
            <!-- alternate tunings -->
            <!-- drop -->
            <dict>
                <key>tuningName</key>
                <string>Drop B</string>
                <key>notes</key>
                <array>
                    <string>B1</string>
                    <string>F♯2</string>
                    <string>B2</string>
                    <string>E3</string>
                    <string>G♯3</string>
                    <string>C♯4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Drop D</string>
                <key>notes</key>
                <array>
                    <string>D2</string>
                    <string>A2</string>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>E4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Drop C</string>
                <key>notes</key>
                <array>
                    <string>C2</string>
                    <string>G2</string>
                    <string>C3</string>
                    <string>F3</string>
                    <string>A3</string>
                    <string>D4</string>
                </array>
            </dict>
            <!-- open -->
            <dict>
                <key>tuningName</key>
                <string>Open D</string>
                <key>notes</key>
                <array>
                    <string>D2</string>
                    <string>A2</string>
                    <string>D3</string>
                    <string>F♯3</string>
                    <string>A3</string>
                    <string>D4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Open G</string>
                <key>notes</key>
                <array>
                    <string>D2</string>
                    <string>G2</string>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>D4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Open C</string>
                <key>notes</key>
                <array>
                    <string>C2</string>
                    <string>G2</string>
                    <string>C3</string>
                    <string>G3</string>
                    <string>C4</string>
                    <string>E4</string>
                </array>
            </dict>
            <!-- step down -->
            <dict>
                <key>tuningName</key>
                <string>Half Step Down</string>
                <key>notes</key>
                <array>
                    <string>D♯2</string>
                    <string>G♯2</string>
                    <string>C♯3</string>
                    <string>F♯3</string>
                    <string>A♯3</string>
                    <string>D♯4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Full Step Down</string>
                <key>notes</key>
                <array>
                    <string>D2</string>
                    <string>G2</string>
                    <string>C3</string>
                    <string>F3</string>
                    <string>A3</string>
                    <string>D4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>1 and 1/3 Steps Down</string>
                <key>notes</key>
                <array>
                    <string>C♯2</string>
                    <string>F♯2</string>
                    <string>B2</string>
                    <string>E3</string>
                    <string>G♯3</string>
                    <string>C♯4</string>
                </array>
            </dict>
        </array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Banjo</string>
		<key>image</key>
		<string>banjoSymbol</string>
        <key>tunings</key>
        <array>
            <dict>
                <key>tuningName</key>
                <string>Classical / Acoustic</string>
                <key>notes</key>
                <array>
                    <string>E2</string>
                    <string>A2</string>
                    <string>D3</string>
                    <string>G3</string>
                </array>
            </dict>
        </array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Ukulele</string>
		<key>image</key>
		<string>ukuleleSymbol</string>
        <key>tunings</key>
        <array>
            <dict>
                <key>tuningName</key>
                <string>Classical / Acoustic</string>
                <key>notes</key>
                <array>
                    <string>E2</string>
                    <string>A2</string>
                    <string>D3</string>
                    <string>G3</string>
                </array>
            </dict>
        </array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>Violin</string>
		<key>image</key>
		<string>violinSymbol</string>
        <key>tunings</key>
        <array>
            <dict>
                <key>tuningName</key>
                <string>Classical / Acoustic</string>
                <key>notes</key>
                <array>
                    <string>E2</string>
                    <string>A2</string>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>E4</string>
                </array>
            </dict>
        </array>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>Mandolin</string>
		<key>image</key>
		<string>mandolinSymbol</string>
        <key>tunings</key>
        <array>
            <dict>
                <key>tuningName</key>
                <string>Classical / Acoustic</string>
                <key>notes</key>
                <array>
                    <string>E2</string>
                    <string>A2</string>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>E4</string>
                </array>
            </dict>
        </array>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>Balalaika</string>
		<key>image</key>
		<string>mandolinSymbol</string>
        <key>tunings</key>
        <array>
            <dict>
                <key>tuningName</key>
                <string>Classical / Acoustic</string>
                <key>notes</key>
                <array>
                    <string>E2</string>
                    <string>A2</string>
                    <string>D3</string>
                </array>
            </dict>
        </array>
	</dict>
</array>
</plist>
