<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Guitar</string>
		<key>image</key>
		<string>guitarSymbol</string>
        <key>tunings</key>
        <dict>
            <key>standard</key>
            <dict>
                <key>notes</key>
                <array>
                    <string>E2</string>
                    <string>A2</string>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>E4</string>
                </array>
                <key>midis</key>
                <array>
                    <integer>52</integer>
                    <integer>57</integer>
                    <integer>62</integer>
                    <integer>67</integer>
                    <integer>71</integer>
                    <integer>76</integer>
                </array>
            </dict>
        </dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Banjo</string>
		<key>image</key>
		<string>banjoSymbol</string>
        <key>tunings</key>
        <dict>
            <key>standard</key>
            <dict>
                <key>notes</key>
                <array>
                    <string>G4</string>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>D4</string>
                </array>
                <key>midis</key>
                <array>
                    <integer>79</integer>
                    <integer>62</integer>
                    <integer>67</integer>
                    <integer>71</integer>
                    <integer>74</integer>
                </array>
            </dict>
        </dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Ukulele</string>
		<key>image</key>
		<string>ukuleleSymbol</string>
        <key>tunings</key>
        <dict>
            <key>standard</key>
            <dict>
                <key>notes</key>
                <array>
                    <string>G4</string>
                    <string>C4</string>
                    <string>E4</string>
                    <string>A4</string>
                </array>
                <key>midis</key>
                <array>
                    <integer>79</integer>
                    <integer>72</integer>
                    <integer>76</integer>
                    <integer>81</integer>
                </array>
            </dict>
        </dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>Violin</string>
		<key>image</key>
		<string>violinSymbol</string>
        <key>tunings</key>
        <dict>
            <key>standard</key>
            <dict>
                <key>notes</key>
                <array>
                    <string>G3</string>
                    <string>D4</string>
                    <string>A4</string>
                    <string>E5</string>
                </array>
                <key>midis</key>
                <array>
                    <integer>67</integer>
                    <integer>74</integer>
                    <integer>81</integer>
                    <integer>88</integer>
                </array>
            </dict>
        </dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>Mandolin</string>
		<key>image</key>
		<string>mandolinSymbol</string>
        <key>tunings</key>
        <dict>
            <key>standard</key>
            <dict>
                <key>notes</key>
                <array>
                    <string>G3</string>
                    <string>D4</string>
                    <string>A4</string>
                    <string>E5</string>
                </array>
                <key>midis</key>
                <array>
                    <integer>67</integer>
                    <integer>74</integer>
                    <integer>81</integer>
                    <integer>88</integer>
                </array>
            </dict>
        </dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>Balalaika</string>
		<key>image</key>
		<string>mandolinSymbol</string>
        <key>tunings</key>
        <dict>
            <key>standard</key>
            <dict>
                <key>notes</key>
                <array>
                    <string>E4</string>
                    <string>E4</string>
                    <string>A4</string>
                </array>
                <key>midis</key>
                <array>
                    <integer>76</integer>
                    <integer>76</integer>
                    <integer>81</integer>
                </array>
            </dict>
        </dict>
	</dict>
</array>
</plist>
