<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <!-- http://www.pluck-n-play.com/en/tuning/guitar-tuning.html -->
    <dict>
        <key>id</key>
        <integer>0</integer>
        <key>name</key>
        <string>Banjo</string>
        <key>image</key>
        <string>banjoSymbol</string>
        <key>doubleStrings</key>
        <false/>
        <key>tunings</key>
        <array>
            <!-- 4 strings -->
            <dict>
                <key>tuningName</key>
                <string>Chicago</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>E4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>C 4 strings</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>C3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>D4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Irish Tenor</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>G2</string>
                    <string>D3</string>
                    <string>A3</string>
                    <string>E4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Open G</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>D4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Tenor</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>C3</string>
                    <string>G3</string>
                    <string>D4</string>
                    <string>A4</string>
                </array>
            </dict>
            <!-- 5 strings -->
            <dict>
                <key>tuningName</key>
                <string>Standard</string>
                <key>standard</key>
                <true/>
                <key>notes</key>
                <array>
                    <string>G4</string>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>D4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>C</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>G4</string>
                    <string>C3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>D4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Double C</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>G4</string>
                    <string>C3</string>
                    <string>G3</string>
                    <string>C4</string>
                    <string>D4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Oldtime D</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>A4</string>
                    <string>D3</string>
                    <string>A3</string>
                    <string>D4</string>
                    <string>E4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Open A</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>A4</string>
                    <string>E3</string>
                    <string>A3</string>
                    <string>C♯4</string>
                    <string>E4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Open D</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>F♯4</string>
                    <string>D3</string>
                    <string>F♯3</string>
                    <string>A3</string>
                    <string>D4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Sawmill</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>G4</string>
                    <string>D3</string>
                    <string>G3</string>
                    <string>C4</string>
                    <string>D4</string>
                </array>
            </dict>
            <!-- 6 strings -->
            <dict>
                <key>tuningName</key>
                <string>Open G</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>G4</string>
                    <string>G2</string>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>D4</string>
                </array>
            </dict>
            <dict>
                <key>tuningName</key>
                <string>Banjo Guitar</string>
                <key>standard</key>
                <false/>
                <key>notes</key>
                <array>
                    <string>E2</string>
                    <string>A2</string>
                    <string>D3</string>
                    <string>G3</string>
                    <string>B3</string>
                    <string>E4</string>
                </array>
            </dict>
        </array>
    </dict>
</array>
</plist>

